<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="parametro"
            connectionString="Data Source=FANTASIA\SQLEXPRESS1;Initial Catalog=cuotas2013;Integrated Security=True"
            providerName="System.Data.SqlClient"/>
		<add name="parametro1"
            connectionString="Data Source=ws182\SQLEXPRESS;Initial Catalog=cuotas2013;Integrated Security=True"
            providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0"/>
	</startup>
</configuration>